.container-select-your-plant {
  position: relative;
  border: solid red 1px;
}



.select-your-plant-title > h1,
h3 {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.select-your-plant-title > h1 {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  color: #181616;
  transform: translate();
  top: 100px;

}

.select-your-plant-title > h3 {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 140%;
  text-align: center;
  color: rgba(24, 22, 22, 0.6);
  top: 200px;
}
.select-your-plant-title > h3 > span {
  color: #f9d04c;
  border-bottom: #f9d04c solid 3px;
}

.container-cellule {
  border: solid 2px yellow;
}

/* FIRST THREE CELL */
.cellule-group1 {
    display: flex;
    justify-content: center;
}

.cellule-group1 > .cellule-background{
  width: 323.49px;
  color: #22242F;
  border-width: 3px;
  border-image: linear-gradient(to top, #e6e6e7 , rgba(0, 0, 0, 0)) 1 50%;
}

.cellule-group1 > .cellule-background:nth-child(1){
    height: 300px;
    border-left-style: solid !important;
  }
  .cellule-group1 > .cellule-background:nth-child(2){
    height: 300px;
    border-style: solid !important;
  }
  .cellule-group1 > .cellule-background:nth-child(3){
    height: 300px;

    border-right-style: solid !important;
  }

/* NEXT FIVE CELL */
.cellule-group2 {
    display: flex;
    justify-content: center;
}

.cellule-group2 > .cellule-background{
  width: 323.49px;
  color:#e6e6e7 ;
  border-width: 3px;
  /* border-image: linear-gradient(to top, #e6e6e7 , rgba(0, 0, 0, 0)) 1 50%; */
}

.cellule-group2 > .cellule-background:nth-child(1){
    height: 300px;
    border-top-style: solid !important;
    /* border-left-style: solid !important; */
  }
  .cellule-group2 > .cellule-background:nth-child(2){
    height: 300px;
    border-style: solid !important;
  }
  .cellule-group2 > .cellule-background:nth-child(3){
    height: 300px;
    border-style: solid !important;
    border-left-style: none !important;

  }
  .cellule-group2 > .cellule-background:nth-child(4){
    height: 300px;
    border-top-style: solid !important;
    /* border-right-style: solid !important; */
  }






